# База данных
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=student_t_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Бэкенд
SECRET_KEY=supersecretkey_change_in_production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Интеграции
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
GIGACHAT_CREDENTIALS=your_gigachat_auth_token_here
